In [2]:
import pandas as pd, numpy as np, sklearn as sk

In [18]:
df = pd.read_csv("C:\\GitHub\\MLSys\\2\\data\\train.csv")
df=df[[
    "1stFlrSF",
    "2ndFlrSF",
    "TotalBsmtSF",
    "LotArea",
    "OverallQual",
    "GrLivArea",
    "GarageCars",
    "GarageArea",
    "SalePrice"
]]
df

,1stFlrSF,2ndFlrSF,TotalBsmtSF,LotArea,OverallQual,GrLivArea,GarageCars,GarageArea,SalePrice
0,856,854,856,8450,7,1710,2,548,208500
1,1262,0,1262,9600,6,1262,2,460,181500
2,920,866,920,11250,7,1786,2,608,223500
3,961,756,756,9550,7,1717,3,642,140000
4,1145,1053,1145,14260,8,2198,3,836,250000
...,...,...,...,...,...,...,...,...,...
1455,953,694,953,7917,6,1647,2,460,175000
1456,2073,0,1542,13175,6,2073,2,500,210000
1457,1188,1152,1152,9042,7,2340,1,252,266500
1458,1078,0,1078,9717,5,1078,1,240,142125
1459,1256,0,1256,9937,5,1256,1,276,147500

In [30]:
df.columns[1]

'2ndFlrSF'

In [33]:
model = sk.linear_model.LinearRegression()
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, mean_absolute_percentage_error

results = {}
for x in range(1,8):
    X = df[df.columns[:x]]
    y = df['SalePrice']
    model = model.fit(X, y)
    predictions = model.predict(X)
    R2, MAE, MSE, MAPE = r2_score(y, predictions), mean_absolute_error(y, predictions), mean_squared_error(y, predictions), mean_absolute_percentage_error(y, predictions)
    results[x] = {"R2": R2, "MAE": MAE, "MSE": MSE, "MAPE": MAPE}
    print(f"R^2 = {R2:4.3f}, MAE = {MAE}, MSE = {MSE}, MAPE={MAPE}")
results

R^2 = 0.367, MAE = 46242.074794493084, MSE = 3991838509.3767366, MAPE=0.27893089135316046
R^2 = 0.571, MAE = 34669.10012953221, MSE = 2706330006.6369143, MAPE=0.20756139318322575
R^2 = 0.615, MAE = 31550.348606260406, MSE = 2425269115.982565, MAPE=0.18938830922572908
R^2 = 0.616, MAE = 31472.154569368686, MSE = 2420913519.964092, MAPE=0.18885941518670113
R^2 = 0.751, MAE = 25405.687388844144, MSE = 1569599128.502866, MAPE=0.15726317966198058
R^2 = 0.751, MAE = 25376.295607225973, MSE = 1567561876.6444705, MAPE=0.15710679704352823
R^2 = 0.767, MAE = 24641.547200598947, MSE = 1468278915.552727, MAPE=0.15179799743477623

{1: {'R2': 0.36705686969596585,
  'MAE': 46242.074794493084,
  'MSE': 3991838509.3767366,
  'MAPE': 0.27893089135316046},
 2: {'R2': 0.570886201430038,
  'MAE': 34669.10012953221,
  'MSE': 2706330006.6369143,
  'MAPE': 0.20756139318322575},
 3: {'R2': 0.6154510202519747,
  'MAE': 31550.348606260406,
  'MSE': 2425269115.982565,
  'MAPE': 0.18938830922572908},
 4: {'R2': 0.6161416405192517,
  'MAE': 31472.154569368686,
  'MSE': 2420913519.964092,
  'MAPE': 0.18885941518670113},
 5: {'R2': 0.7511254567579683,
  'MAE': 25405.687388844144,
  'MSE': 1569599128.502866,
  'MAPE': 0.15726317966198058},
 6: {'R2': 0.7514484819919405,
  'MAE': 25376.295607225973,
  'MSE': 1567561876.6444705,
  'MAPE': 0.15710679704352823},
 7: {'R2': 0.7671907190668249,
  'MAE': 24641.547200598947,
  'MSE': 1468278915.552727,
  'MAPE': 0.15179799743477623}}

In [ ]:
#generate a plot for each metric 
import plotly.express as pe